@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

html, 
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
}

.presentation-container {
  flex: 1;
  padding: 0 4.3em;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  font-size: 3.3em;
  height: 1em;
  font-weight: 300;
}

.presentation {
  padding-top: 3em;
}

.presentation p {
  font-size: 1.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
}

.profile-container {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-image {
  width: 100%;
}

.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 2em;
}

.social-icons a {
  text-decoration: none;
  color: #000;
  font-size: 2em;
}

.social-icons ul {
  list-style-type: none;
  padding: 0;
}

.social-icons__container {
  display: flex;
}

.social-icons li {
  padding-right: 1em;
}

@media (max-width: 800px) {
  .home {
    display: grid;
    overflow-y: hidden;
  }
  
  .presentation-container {
    display: inline-block;
    padding: 1em;
  }
  
  .title h1 {
    font-size: 1.5em;
    height: 1em;
  }
  
  .presentation {
    padding-top: 2em;
  }
  
  .presentation p {
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
  }
  
  .profile-container {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .profile-image {
    width: 100%;
  }
  
  .social-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 2em;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
  }
  
  .social-icons ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-icons__container {
    display: flex;
  }
  
  .social-icons li {
    padding-right: 1em;
  }
}