/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: #ffffff;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Catamaran', sans-serif;
}

header {
    background-color: white;
    color: black;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.navigation li:hover {
    color: #6831CB;
}

.navigation ul#menu-mobile {
    display: none;
}

.navigation div#menu-btn {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
}

.capa {
    color: black;
}

.capa span {
    color: #6831CB;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.border-image {
    /* height: 190px; background-image: url(https://i.stack.imgur.com/atUuf.png); */
    /* width: 300px;
    height: 300px !important;
    border-radius: 300px;
    vertical-align: top; */
    /* width: 200px;
    border-radius: 200px;
    margin-top: 100px; */
    /* background: linear-gradient(to right, red, purple); */
}

.profile-pic {
    width: 30%;
    text-align: center;
}

.profile-pic img {
    width: 300px;
    border-radius: 300px;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 70%;
}

.profile-title h1 {
    font-size: 48px;
    margin-top: 200px;
    font-weight: 500;
    line-height: 48px;
}

.profile-title h2 {
    font-size: 39px;
}

/* Estilos aplicados a larguras maior que 320 pixels até 767 pixels */

@media only screen and (min-width: 300px) and (max-width: 767px) {

    .navigation ul {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 50px;
    }

    .navigation ul#menu-desktop {
        display: none;
    }
    
    .capa div {
        display: block;
        height: 450px;
    }
    .profile-title h1 {
        font-size: 42px;
    }

    .profile-pic {
        width: 100%;
        text-align: center;
    }

    .profile-pic img {
        width: 300px;
        border-radius: 300px;
        margin-top: 100px;
    }
}